.topic{
    height: 150px;
    background-color: #FFDEAD;
    font-size: 60px;
    color: #F4A460;
    font-family: "Lucida Handwriting";
    padding-top: 25px;
}
.list1{
    border-radius: 0px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: #FFDEAD;
}
.addBtn {
    top: 0px;
    bottom: 0px;
    padding: 10px;
    width: 10%;
    background: #FFF8DC;
    color: #F4A460;
    float: right;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Lucida Handwriting";
}
.addBtn:hover {
    background-color: #F4A460;
    color: #FFF8DC;
}
input {
    background-color: 	#FFF8DC;
    border: none;
    width: 90%;
    padding: 10px;
    float: left;
    font-size: 20px;
    font-style: italic;
    font-family: Inconsolata;
}
.todo{
    background-color: #FFDEAD;
}
ul {
    margin: 0;
    padding: 0px;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background-color: #FFF8DC;
    color: #F4A460;
    font-size: 20px;
    transition: 0.2s;
    font-family: Inconsolata;

}
ul li:nth-child(odd) {
    color: #F4A460;
    background-color: #FFDEAD;
}
ul li:hover {
    background-color: #F4A460;
    color: #FFF8DC;
}
ul li.checked {
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/*
.close {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    padding: 10px;
    color: red;
}
.close:hover {
    color: white;
    background-color: red;
}

*/